<header>
    <h1><img src="{{ asset('pics/logo.png') }}" alt="">Bucket List</h1>

    <nav>
        <ul>
            <li class="nav-button"><a href="{{ path('homepage') }}">Accueil</a></li>
            <li class="nav-button"><a href="{{ path('aboutus') }}">A propos</a></li>
            <li class="nav-button"><a href="{{ path('wish_index') }}">Listes</a></li>


        </ul>
    </nav>

</header>
